/* TODO this is only applying to the content not mce UI */

/* enable to quickly see if this is applied to content
p {
	background-color: beige;
}
*/

/* but what we want is this to be applied to UI scope */
.mce-container .footnote-preview {
	float: left;
	margin: 5px;
	max-width: 694px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mce-container .footnote-input {
	float: left;
	margin: 2px;
	max-width: 694px;
	min-width: 400px;
}

.mce-container .footnote-input textarea {
	width: 100%;
	white-space: pre-wrap;
}
