/* TODO this is only applying to the content not mce UI */

/* enable to quickly see if this is applied to content
p {
	background-color: beige;
}
*/

/* but what we want is this to be applied to UI scope */
.footnote-preview {
	float: left;
	margin: 5px;
	max-width: 694px;
	overflow: hidden;
	text-overflow: ellipsis;
}
